<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head',{title: 'Access denied'})  %>


<body id="page-top">
    <%- include('includes/header', {isLogged: isLogged})  %>

<div id="wrapper">

    <%- include('includes/sidebar', {isLogged: isLogged},{categories:categories}) %>

<div id="content-wrapper">
<div class="container-fluid">
<div class="row">
<div class="col-md-8 mx-auto text-center  pt-4 pb-5">
<h1><img alt="404" src="img/404.png" class="img-fluid"></h1>
<h1>Sorry! You don't have access to this page.</h1>
<p class="land">Unfortunately the page you are looking for is for connected users.</p>
<div class="mt-5">
<a class="btn btn-outline-primary" href="/login"><i class="mdi mdi-home"></i>LOGIN</a>
</div>
</div>
</div>
</div>


<%- include('includes/footer') %>

</div>

</div>


<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
<button class="close" type="button" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span>
</button>
</div>
<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
<div class="modal-footer">
<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
<a class="btn btn-primary" href="login.html">Logout</a>
</div>
</div>
</div>
</div>

<%- include('includes/scripts') %>

</body>

<!-- Mirrored from askbootstrap.com/preview/vidoe-v2-3/theme-five/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 06 Jun 2022 14:14:06 GMT -->
</html>